* {
    margin: 0px;
}

.merriweather {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}


.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* banner section designed */
.banner {
    background:
        linear-gradient(rgba(10, 0, 30, 0.7), rgba(10, 0, 40, 0.2)),
        url("../images/Banner\ Image.png");
    background-size: cover;
    height: 600px;
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    /* position: relative; */

}

/* .banner-content {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
} */



.banner-title {
    font-size: 32px;
    font-weight: 400;
}

.banner-description {
    font-size: 72px;
    font-weight: bolder;
}

/* discount section start  */
.discount-container {
    text-align: center;
    max-width: 800px;
    margin: auto;
    margin-top: 120px;
}

.off-title {
    font-size: 88px;
    font-weight: bold;
    color: #FF0000;
    margin-bottom: 40px;
}

.off-for-title {
    font-size: 24px;
    font-weight: 500px;
    color: #FF0000;
    margin-bottom: 40px;
}

.category-title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 40px;
}

/* midnight party section start  */
.mid-party-container {
    background:
        linear-gradient(rgba(10, 0, 30, 0.7), rgba(10, 0, 40, 0.2)),
        url("../images/Vectorrr.png");
        background-size: cover;
        height: 500px;
        max-width: 1200px;
        border-radius: 16px;
        margin: auto;
        display: flex;
        justify-content: space-around;
        /* justify-content: center; */
        align-items: center;
        padding: 100px 110px;
        color:white;
        gap:60px;
        margin-top: 120px;


}

.mid-party-title {
    font-size: 64px;
    font-weight: bolder;
    margin-bottom: 30px;
}

.mid-party-description {
    font-size: 18px;
    color: rgb(255, 255, 255,0.8);
    margin-bottom: 40px;
}

.mid-party-button {
    font-size: 20px;
    font-weight: bold;
    padding:15px;
    background-color: red;
    color:white;
    border-radius: 9px;
}

